$text-color: #1e1e1e;
$light-text-color: #fff;
$selected-color: #3369f3;
$second-color: #999;
$excretion-color: #f00;
$background-color: #efefef;

%bottom-border {
  border-bottom: 1px solid $second-color;
}
